.section {
  margin: 4rem 0;
  opacity: 0;
  animation: fadeIn 0.8s ease-out forwards;

  &:nth-child(1) { animation-delay: 0.2s; }
  &:nth-child(2) { animation-delay: 0.4s; }
  &:nth-child(3) { animation-delay: 0.6s; }

  h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
  }

  // Add scroll-margin-top to adjust anchor link scrolling
  scroll-margin-top: 150px; // Adjust this value to match your header height
}

// Additional styles for specific sections can be added here
#about {
  // Styles specific to the About section
}

#buy {
  // Styles specific to the Buy section
}

#tokenomics {
  // Styles specific to the Tokenomics section
}

#charts {
  // Styles specific to the Charts section
}
