<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>1000X Token</title>
    <link rel="stylesheet" href="{{ '/assets/css/styles.css' | relative_url }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css" integrity="sha512-q3eWabyZPc1XTCmF+8/LuE1ozpg5xxn7iO89yfSOd5/oKvyqLngoNGsx8jq92Y8eXJ/IRxQbEC+FGSYxtk2oiw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body class="loading">
{% include header.html %}
<div id="home" class="container">
    {{ content }}
</div>
<script src="{{ '/assets/js/scroll.js' | relative_url }}"></script>
<script src="{{ '/assets/js/header.js' | relative_url }}"></script>
<script src="{{ '/assets/js/loader.js' | relative_url }}"></script>
<script src="{{ '/assets/js/hamburger.js' | relative_url }}"></script>

</body>
</html>
