---
layout: default
---
<section class="hero">
    <picture>
        <div id="loading-screen">
            <img src="{{ '/assets/images/1000X_Hero.webp' | relative_url }}" alt="Loading" class="loader-image">
        </div>
        <source srcset="{{ '/assets/images/1000X_Hero.webp' | relative_url }}" type="image/webp">
        <source srcset="{{ '/assets/images/1000X_Hero.jpg' | relative_url }}" type="image/jpeg">
        <img src="{{ '/assets/images/1000X_Hero.png' | relative_url }}" alt="1000X Hero Banner" class="hero-banner">
    </picture>
    <h1>1000X by Clanker</h1>
    <p class="tagline">It's just 1000X</p>
    <p>CA: <span class="contract-address">0x397af86a35288f7a219febaab34f9b947d4d772d</span></p>
    <p>
        We have submitted $1000x token for listing on <a href="https://coingecko.com/" target="_blank">CoinGecko</a>, refere nce: <strong><u>CL0212240155</u></strong><br />
        Support us by utilizing <a href="https://www.geckoterminal.com/base/pools/0x903b8cb16a36b7d9b81a18a564c2b470e889e5b2" target="_blank">GeckoTerminal: https://www.geckoterminal.com/base/pools/0x903b8cb16a36b7d9b81a18a564c2b470e889e5b2</a> to view our chart!
    </p>
</section>

<main>
    {{ content }}
</main>
<nav class="main-nav">
    <a href="#home">Home</a>
    <a href="#socials">Socials</a>
    <a href="#about">About</a>
    <a href="#tokenomics">Tokenomics</a>
    <a href="#charts">Charts</a>
    <a href="#explorers">Block Explorers</a>
</nav>